@model GillyBeanCentral.Entities.VenueType

@{
    ViewBag.Title = "Create";
}

<h2>Add a new venue type</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Capture details below, then click Save</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @*default code*@
    @*@Html.ActionLink("Back to List", "Index")*@
    @*my code to make it a partial view*@
    @Html.Partial("_BackToListButtonPartial")


</div>
